<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Your CD Collection</title>
    </head>
    <body>
      <!-- {% if cars is not empty %}
       <h3>Cars for sale</h3>
          <div class="">
            {% for car in cars %}
            <li> {{ car.make_model }}</li>
            <li>${{ car.price }}</li>
            <li>{{ car.miles }}</li>
            <img src="{{ car.image }}" alt="{{ car.make_model }}">
          </div>
          {% endfor %}
      {% endif %} -->
      <h1>Enter a cd from your collection</h1>
      <div class="container">
        <div class="well">
          <form class="newCdForm" action="/new_cd" method="post">
            <label for="">Artist</label>
            <input class="form-control" type="text" name="artist" value="">
            <label for="">Price</label>
            <input class="form-control"type="text" name="price" value="">
            <label for="">Album Cover</label>
            <input class="form-control"type="text" name="image" value="">
            <button class="form-control btn btn-danger" type="submit" name="button">Submit</button>
            <a href="/collection"><button class="form-control btn btn-danger" type="button" name="button">View All CDs</button></a>
          </form>
        </div>
      </div>
        <form class="" action="/delete" method="post">
          <button class="btn btn-danger" type="submit" name="button">DELETE ALL CDS</button>
        </form>
    </body>


</html>
